.footer-header-dots{
    position: absolute;
    left: 160vh;
    top: 794vh;
}

.footer{
    margin-top: 200px;
    height: 432px;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    .footer-dots{
        img{
            position: absolute;
            bottom: 0;
        }
    }
    .footer-container{
        padding-top: 118px;
        padding-left: 191px;
        .footer-about-title{
            .footer-logo{
                width: 41px;
                height: 41px;
                border-radius: 50%;
                color: $main-bg;
                border: 1px solid white;
                justify-content: center;
                align-items: center;
                background: white;
                font-weight: bold;
                font-size: 26px;
                line-height: 32.63px;
            }
            .footer-title{
                font-weight: 700;
                font-size: 24px;
                line-height: 30px;
                margin-top: 5px;
                color: white;
                padding-left: 12px;
            }
        }
    }
}