.footer-header-dots{
    position: absolute;
    left: 160vh;
    top: 794vh;
}

.footer{
    margin-top: 200px;
    height: 432px;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    .footer-dots{
        img{
            position: absolute;
            bottom: 0;
        }
    }
    .footer-container{
        .footer-item{
            padding-top: 118px;
            padding-left: 191px;
            .footer-about-title{
                .footer-logo{
                    width: 41px;
                    height: 41px;
                    border-radius: 50%;
                    color: $main-bg;
                    border: 1px solid white;
                    justify-content: center;
                    align-items: center;
                    background: white;
                    font-weight: bold;
                    font-size: 26px;
                    line-height: 32.63px;
                }
                .footer-title{
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 30px;
                    margin-top: 5px;
                    color: white;
                    padding-left: 12px;
                }
            }
            .footer-item-desc{
                margin-top: 22px;
                margin-bottom: 31px;
                width: 391px;
                font-size: 18px;
                font-weight: 300;
                line-height: 28px;
                color: #ffffff;
            }
            .footer-item-rights{
                font-weight: 300;
                font-size: 16px;
                line-height: 28px;
                color: #ffffff;
            }
        }
        .footer-company-item{
            padding-top: 109px;
            padding-left: 100px;
            .company-title{
                font-weight: 700;
                font-size: 20px;
                line-height: 60px;
                color: #ffffff;
            }
            .company-list{
                li{
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 38px;
                    color: #ffffff;
                }
            }
        }
    }
}