#testimonials{
    width: 1120px;
    height: 425px;
    margin: 0 auto;
    margin-top: 266px;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
    .container{
        .row{
            .col-12{
                .testimonials-header{
                    position: relative;
                    h1{
                        font-weight: 700;
                        font-size: 36px;
                        line-height: 48px;
                        color: $testimonials-header-color;
                        padding-top: 64px;
                    }
                    img{
                        position: absolute;
                        left: 147vh;
                        top: 2vh;
                    }
                    .testimonials-border{
                        width: 56px;
                        height: 2px;
                        border-radius: 6px;
                        background: $testimonials-header-color;
                        margin: 0 auto;
                        margin-top: 25px;
                    }
                }
            }
            .col-7{
                .testimonials-content{
                    .person-img{
                        margin-top: 70px;
                        margin-left: 122px;
                    }
                    h3{
                        margin-top: 97px;
                        margin-left: 29px;
                        font-weight: 700;
                        font-size: 22px;
                        line-height: 48px;
                        color: $testimonials-header-color;
                    }
                    span{
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 48px;
                        color: rgba(255, 255, 255, 0.85);
                        margin-top: 129px;
                        margin-left: -183px;
                    }
                }
            }
            .col-5{
                .comment{
                    margin-top: 77px;
                    p{
                        font-weight: 400;
                        font-size: 19px;
                        line-height: 30px;
                        color: rgba(255, 255, 255, 0.9);
                    }
                }
            }
        }
        .testimonials-arrow{
            margin-top: 132px;
            .arrow-left, .arrow-right{
                font-size: 30px;
                color: $main-bg;
                padding-left: 89px;
                padding-right: 89px;
            }
            .circle{
                margin-top: 6px;
                font-size: 15px;
                color: $main-bg;
                opacity: .4;
                padding-left: 18px;
                padding-right: 18px;
                &:nth-child(2){
                    opacity: 1;
                }
            }
        }
    }
}