// Colors
$main-bg: #458FF6;
$logo-title-color: #233348;
$nav-bar-item-color: #8F8A99;
$nav-bar-item-focus-color: #1F1534;
$header-color: #000000; 
$title-color: #7D7987;
$service-item-bg: #FFFFFF;
$testimonials-header-color: #FFFFFF;