// Colors
$sections-bg: #F7F8FD;
$main-feedback-bg: #AD1FEA;
$main-btn-color: #4661E6;
$main-feedback-bg: #373F68;
$empty-feedback-color: #647196;
$feedback-item-bg: #FFFFFF;
$suggestions-element-bg: #F2F4FF;
$interactive-btn-hover-bg: #CFD7FF;
$roadmap-header-active: #8397F8;
$suggestion-item-title-color: #3A4374;
$reply-item-bg: #F7F8FD;
$planned-item-bg: #F49F85;
$live-item-bg:#62BCFA;

