html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.frontend-mentor {
  width: 255px;
  height: 137px;
  background: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);
  border-radius: 10px;
}

.interactive-btn {
  border: none;
  background: #F2F4FF;
  border-radius: 10px;
  color: #4661E6;
  text-align: center;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  height: 30px;
}
.interactive-btn:hover {
  background: #CFD7FF;
  border: none;
}
.interactive-btn:active {
  background: #4661E6;
  color: #FFFFFF;
}
.interactive-btn:focus {
  outline: none;
}

.btn-all {
  margin-top: 24px;
  margin-left: 24px;
  width: 48px;
}

.btn-ui {
  width: 48px;
  margin-left: 8px;
}

.btn-enh {
  margin-top: 14px;
  margin-left: 24px;
  width: 111px;
}

.btn-bug {
  width: 56px;
  margin-left: 14px;
}

.btn-feature {
  width: 77px;
  margin-top: 14px;
  margin-left: 24px;
}

#suggestions {
  font-family: "Jost", sans-serif;
  background: #F7F8FD;
}
#suggestions .left-side {
  padding-top: 94px;
  padding-left: 165px;
}
#suggestions .left-side .frontend-mentor {
  margin-bottom: 24px;
}
#suggestions .left-side .frontend-mentor h3 {
  padding-top: 62px;
  padding-left: 24px;
  font-family: 700;
  font-size: 20px;
  line-height: 29px;
  color: #FFFFFF;
}
#suggestions .left-side .frontend-mentor p {
  margin-top: -10px;
  padding-left: 24px;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  opacity: 0.75;
  color: #FFFFFF;
}
#suggestions .left-side .interactive-btns {
  width: 255px;
  height: 166px;
  border-radius: 10px;
  background: #FFFFFF;
}
#suggestions .left-side .roadmap {
  width: 255px;
  height: 178px;
  margin-top: 24px;
  border-radius: 10px;
  background: #FFFFFF;
}
#suggestions .left-side .roadmap .roadmap-header h3 {
  margin-top: 19px;
  margin-right: 99px;
  margin-left: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.25px;
  color: #3A4374;
}
#suggestions .left-side .roadmap .roadmap-header span {
  margin-top: 23px;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  color: #4661E6;
  text-decoration: underline;
  cursor: pointer;
}
#suggestions .left-side .roadmap .roadmap-header span:active {
  color: #8397F8;
}