#suggestions{
    font-family: 'Jost', sans-serif;
    background: $sections-bg;
    .left-side{
        padding-top: 94px;
        padding-left: 165px;
        .frontend-mentor{
            margin-bottom: 24px;
            h3{
                padding-top: 62px;
                padding-left: 24px;
                font-family: 700;
                font-size: 20px;
                line-height: 29px;
                color: $feedback-item-bg;
            }
            p{
                margin-top: -10px;
                padding-left: 24px;
                font-weight: 400;
                font-size: 15px;
                line-height: 22px;
                opacity: .75;
                color: $feedback-item-bg;
            }
        }
        .interactive-btns{
            width: 255px;
            height: 166px;
            border-radius: 10px;
            background: $feedback-item-bg;
        }
    }
}